---
layout: extended.njk
---

<section class="container">
  <p>
    The Beyond Expiry Foundation Ltd is a nonprofit organization with the
    primary objective of promoting sustainability and longevity in software
    development. Recognizing the prevalent issues of software expiration, vendor
    lock-in, and centralization, our foundation aims to advocate for and
    implement principles that mitigate these risks.
  </p>
  <p>
    It was founded and being led by MIT students dedicated to the foundation's
    cause. We aim to advance the foundation goals and build software that lasts.
  </p>
</section>
