---
title: Beyond Expiry
desc: Developing software that lives beyond an expiry date.
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="{{ desc }}"/>
        <meta name="og:description" content="{{ desc }}"/>
        <title>{{ title }}</title>
        <meta property="og:image" content="/static/thumbnail.png"/>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:site_name" content="beyondexpiry.org"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <link href="/static/style.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"/>
        <link rel="icon" href="/static/favicon128.png"/>
    </head>
    <body>
        {{ content | safe }}
        <footer class="container">
            🄯
            <a href="https://beyondexpiry.org/">Beyond Expiry</a>
            2024
        </footer>
    </body>
</html>