<header class="container">
    <ul>
        <li {% if page.url == "/" %} aria-current="page" {% endif %}>
            <a href="/">
                <img src="/static/beyond-expiry-wordmark.svg" alt="open can with infinity symbol on it" title="Beyond Expiry">
            </a>
        </li>
        <li {% if page.url == "/foundation/" %} aria-current="page" {% endif %}>
            <a href="/foundation/">Foundation</a>
        </li>
        <li>
            <a href="https://opencollective.com/beyond-expiry#category-CONTRIBUTIONS/">Support Us</a>
        </li>
        <li {% if page.url | batch(6) | first | join == "/blog/" %} aria-current="page" {% endif %}>
            <a href="/blog/">Blog</a>
        </li>
    </ul>
</header>
<style>
    header ul {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        & li {
            text-align: center;
            font-weight: 800;
            border-radius: 12px;
            padding: 0.5em 0.5em;
            display: block;
            &[aria-current="page"] a {
                text-decoration: 4px dotted underline;
            }

            &:first-child {
                text-align: start;
                flex: 1;
            }
        }
    }
</style>