---
layout: extended.njk
---

<section class="container blog">
    <ol>
        {%- for post in collections.post -%}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                <span>{{ post.date.toLocaleDateString(undefined, {dateStyle: 'long'}) }}</span>
            </li>
        {%- endfor -%}
    </ol>
</section>