html {
  background: #ffe;
  font-family: "Inter";
  line-height: 1.5;
  font-size: 16pt;
}

body {
  margin: auto;
  padding: 0.5em max(0.5em, 5vw);
  max-width: 80ch;
}

h1 {
  text-align: center;
  margin: 0.2em 0;
}

.intro h1 {
  font-weight: normal;
}

h2 {
  margin: 0.2em 0;
}

.container {
  color: #08150c;
  border-radius: 12px;
  padding: 1em;
  min-width: min(10px, 80vw);
  box-sizing: border-box;
  margin-bottom: 1em;
}

.end-panel {
  display: flex;
  /* flex-wrap: wrap; */
}

footer {
  text-align: center;
}

a {
  color: inherit;
}

.intro {
  text-align: start;
  padding: 2em;
}

.motto {
  display: block;
  text-decoration: none;
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: start;

  & b {
    font-weight: 900;
  }

  + img {
    display: block;
    margin-inline-start: auto;
  }
}

em {
  font-weight: bold;
  font-style: normal;
}
